{% extends "layouts/layout-dashboard.twig" %}
         {% set page_group = "dashboard" %}

         {% block page %}
             {% set page = page | merge({
                 "title"       : "Shipments",
                 "description" : "A list of your Shipments."
             }) %}
             {{ parent() }}
         {% endblock %}
         {% block page_scripts %}
            <script>
            $(document).ready(function() {
                // Load the validator rules for this form
                var validators = {{validators | raw}};
                ufFormSubmit(
                  $("form[name='trackingNumber']"),
                  validators,
                  $("#userfrosting-alerts"),
                  function(data, statusText, jqXHR) {
                      // Reload the page on success
                      window.location.reload(true);
                  }
                );
            });
        </script>
        <style>
        table.sortable thead {
        background-color:#eee;
        color:#666666;
        font-weight: bold;
        cursor: default;
    }

        </style>
        {% endblock %}
         {% block content %}
         <h1>Your Shipments:</h1>
         <br>



         <table class="sortable">
        <tr style="font-weight:bold;font-size:15px">
            <th style="padding-bottom:10px;padding-left:20px;">Tracking Number</th>
            <th style="padding-bottom:10px;padding-left:20px;">Shipment Date</th>
            <th style="padding-bottom:10px;padding-left:20px;" class = "sorttable_numeric">Shipment Origin</th>
            <th style="padding-bottom:10px;padding-left:20px;">Shipment Destination</th>
            <th style="padding-bottom:10px;padding-left:20px;">Current Location</th>
            <th style="padding-bottom:10px;padding-left:20px;">Estimated Time of Arrival</th>
        </tr>
        <script >
            function getDate(string)
            {
                var date =string;
                if(typeof date == "number"){
                    date=date.toString();
                    document.write(date.substring(4,6) + "/"
                    + date.substring(6,8)+ "/"
                    + date.substring(0,4));
                }
            }
            function splitAddress(string)
            {
                var address = string;
                if(typeof address == "string")
                {
                    document.write("<td style='padding-left:20px' sorttable_customkey = " +
                    address.split(" ")[0]
                    +">"+ address +"</td>")
                }
            }
        </script>
        {% set increment = 1 %}
        {% if trackingNumbers|length == 0 %}
        <div class="form-group">You have no tracking numbers</div>
        {% else %}

                <h4>You have {{ trackingNumbers|length }} tracking numbers:</h4>
         {% for trackingNumber in trackingNumbers %}
         <tr>
             <td style="padding-left:20px">{{trackingNumber.trackingNumber}}</td>
             <td style="padding-left:20px"><script >getDate({{trackingNumber.shipDate}})</script></td>
             <script>splitAddress("{{trackingNumber.origin}}")</script>
             <td style="padding-left:20px">{{trackingNumber.destination}}</td>
             <td style="padding-left:20px">{{trackingNumber.currentLocation}}</td>
             <td style="padding-left:20px"><script>getDate({{trackingNumber.eta}})</script></td>
        </tr>
         {% endfor %}
        </table>
     {% endif %}
        <br><br><br>
        <!-- <form class="form-horizontal" role="form" name="trackingNumber" action="{{site.uri.public}}/shipments" method="post">
                   <div class="form-group">
                     <label for="trackingnumber">Add Tracking Number:</label>
                   </div>
                   <div class="form-group">
                       <input type="text" class="form-control" id="trackingnumber" name = "trackingNumber" style="width:300px">
                    </div>
   <div class="form-group">
             <button type="submit" class="btn btn-success text-center">Submit</button>
         </div>
       </form> -->
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        {% endblock %}
